.like {
  position: fixed;
  width: 150px;
  height: 150px; 
  left: 100px; 
  top: 200px;
  /* animation: blink .1s steps(1, end) infinite;  */

}

.comment {
    position: fixed;
    width: 150px;
    height: 150px; 
    left: 900px; 
    top: 400px;
    animation: blink .067s steps(1, end) infinite;
  }

.up {
  position: fixed;
  width: 150px;
  height: 150px; 
  left: 1300px; 
  top: 200px;
  /* animation: blink .2s steps(1, end) infinite; */
}

.down {
  position: fixed;
  width: 150px;
  height: 150px; 
  left: 1300px; 
  top: 400px;
  /* animation: blink .5s steps(1, end) infinite; */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  