.like {
  position: fixed;
  width: 150px;
  height: 150px;
  left: 10px;
  top: 10px;
  animation: blink 0.1s steps(1, end) infinite;
}

.comment {
  position: fixed;
  width: 150px;
  height: 150px;
  left: 10px;
  bottom: 10px;
  animation: blink 0.067s steps(1, end) infinite;
}

.up {
  position: fixed;
  width: 150px;
  height: 150px;
  right: 10px;
  top: 10px;
  animation: blink 0.2s steps(1, end) infinite;
}

.down {
  position: fixed;
  width: 150px;
  height: 150px;
  right: 10px;
  bottom: 10px;
  animation: blink 0.5s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
