.stimuli {
  --border-radius: 0.1rem; 
  /* --border-radius: 3rem;  */
  --border-size: 0.3rem;
  --padding: .5rem;
  --offset: 15px;

  position: fixed;
  width: 250px;
  height: 250px;
  animation: blink var(--freq) steps(1, end) infinite !important;
  /* animation-name : blink !important; */
  /* animation: sine_blink var(--freq) linear infinite;  */
  /* padding: calc(var(--padding) + var(--border-size)); */
  border-radius: var(--border-radius);
  background-color: var(--color); 
}

.like{
  --color: rgb(255, 0, 0); 
  /* --color: rgb(0, 0, 0);  */
  --freq : .125s;
  /* --freq : 1s; */
  left: var(--offset);
  top: var(--offset);
}

.comment{
  --color: rgb(63, 189, 63);  
  /* --color: rgb(0, 0, 0);  */
  --freq : .1s;
  left: var(--offset);
  bottom: var(--offset);
}

.up{
  --color: rgb(0, 0, 255);  
  /* --color: rgb(0, 0, 0);  */
  --freq : .08333s;  
  right: var(--offset);
  top: var(--offset); 
}

.down{
  --color: rgb(161, 36, 185);  
  /* --color: rgb(0, 0, 0);  */
  --freq : .071s;  
  right: var(--offset);
  bottom: var(--offset);
}

.logo{
  position: fixed;
  width: 200px;
  height: 200px;  
  right: 20px;
  top: 35%;
  opacity: 0.4;
}


@keyframes sine_blink {
  0% {
    opacity: 1.0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}